/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  min-height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ol,
ul {
  list-style: none;
  padding-inline-start: 0px;
}

html {
  font-family: "Playfair Display", serif;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/Travellian template.png");
}
.header-menu {
  display: flex;
  flex-direction: row;
  font-family: "Rubik", sans-serif;
  justify-content: space-between;
  align-items: center;
}
.header-menu-logo {
  padding: 2rem 1rem;
}
.header-menu-burger-menu {
  padding: 2rem 1rem;
}
.header-menu-nav {
  display: none;
}
.header-menu-login {
  display: none;
}
.header-lower {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  padding: 5rem 0rem;
}
.header-lower-title {
  color: #ffffff;
}
.header-lower-title__h1 {
  font-family: "Playfair Display";
  font-size: 2.2rem;
  padding: 0rem 1rem;
}
.header-lower-title__p {
  padding: 0rem 1rem;
  font-family: "Rubik", sans-serif;
}
.header-lower-form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: white;
  border-radius: 1rem;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
}
.header-lower-form__input {
  font-family: "Rubik", sans-serif;
  color: #767e86;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem;
  width: 100%;
}
.header-lower-form__input > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
}
.header-lower-form__input > div > input {
  border: none;
  border-bottom: 1px solid #767e86;
  width: 100%;
}
.header-lower-form__submit {
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #ff7757;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 2rem 0rem;
}
.header-lower-form__submit > input {
  background-color: #ff7757;
  font-size: 2rem;
  color: white;
  border: none;
  cursor: pointer;
}

.section2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5rem 0rem;
}
.section2__title {
  width: 288px;
  height: 106px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
}
.section2 .section2-allimages__hidden {
  display: none;
}
.section2__line {
  width: 227px;
  height: 0px;
  border: 3px solid #ff7757;
}
.section2__paragraph {
  width: 288px;
  height: 63px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}
.section2__desktopbutton {
  display: none;
}
.section2__ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 0px;
}

.special-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
  margin: 5rem 0rem;
}
.special-offer-title {
  font-size: 1.5rem;
  width: 100%;
}
.special-offer-title h2 {
  padding: 0rem 0rem 1rem 0rem;
  color: #172432;
}
.special-offer-title div {
  border-bottom: 3px solid #ff7757;
  width: 227px;
}
.special-offer-title p {
  font-size: 1.2rem;
  color: #767e86;
  padding: 2rem 0rem 0rem 0rem;
}
.special-offer-destination-lisbon {
  background-color: #fff8f1;
}
.special-offer-destination-lisbon h3 {
  color: #767e86;
  font-family: "Mulish";
  font-size: 1.7rem;
  padding: 0.5rem 0rem;
}
.special-offer-destination-lisbon__star {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.special-offer-destination-lisbon__description {
  font-family: "Rubik", sans-serif;
  color: #172432;
  padding: 2rem 0rem;
}
.special-offer-destination-lisbon__price {
  display: flex;
  flex-direction: column;
}
.special-offer-destination-lisbon__price div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-family: "Rubik", sans-serif;
  padding: 0rem 0rem 1rem 0rem;
}
.special-offer-destination-lisbon__price div p {
  color: #767e86;
  font-size: 1rem;
}
.special-offer-destination-lisbon__price div div {
  color: #ff7757;
  font-size: 2rem;
  padding: 0rem 0rem 0rem 0.5rem;
}
.special-offer-destination-lisbon nav {
  background: #ff7757;
  color: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 8rem;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.special-offer-destination-athens {
  display: none;
}
.special-offer-destination-rome {
  display: none;
}
.special-offer-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section4 .section4-block1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section4 .section4-block1__title {
  width: 159px;
  height: 53px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
}
.section4 .section4-block1__line {
  width: 227px;
  height: 0px;
  border: 3px solid #ff7757;
}
.section4 .section4-block1__paragraph {
  width: 288px;
  height: 42px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}
.section4__image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  width: 288px;
  height: 314px;
}
.section4__secondTitle {
  width: 288px;
  height: 106px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
}
.section4__secondParagraph {
  width: 288px;
  height: 672px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  /* or 233% */
  color: #172432;
}
.section4 .section4-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section4 .section4-menu__paragraph {
  width: 118px;
  height: 52px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 52px;
}
.section4 .section4-menu__images {
  box-sizing: border-box;
  width: 100px;
  height: 0px;
  border: 2px solid #ff7757;
}

.section4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section4 .section4-block1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section4 .section4-block1__title {
  width: 159px;
  height: 53px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
}
.section4 .section4-block1__line {
  width: 227px;
  height: 0px;
  border: 3px solid #ff7757;
}
.section4 .section4-block1__paragraph {
  width: 288px;
  height: 42px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}
.section4__image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  width: 288px;
  height: 314px;
}
.section4__secondTitle {
  width: 288px;
  height: 106px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
}
.section4__secondParagraph {
  width: 288px;
  height: 672px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  /* or 233% */
  color: #172432;
}
.section4 .section4-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section4 .section4-menu__paragraph {
  width: 118px;
  height: 52px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 52px;
}
.section4 .section4-menu__images {
  box-sizing: border-box;
  width: 100px;
  height: 0px;
  border: 2px solid #ff7757;
}

.trip-planners {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
  margin: 5rem 0rem;
  width: 100%;
}
.trip-planners-header {
  font-size: 1.5rem;
  width: 100%;
}
.trip-planners-header__title {
  padding: 0rem 0rem 1rem 0rem;
  color: #172432;
}
.trip-planners-header div {
  border-bottom: 3px solid #ff7757;
  width: 227px;
}
.trip-planners-header__paragraph {
  font-size: 1.2rem;
  color: #767e86;
  padding: 2rem 0rem 0rem 0rem;
}
.trip-planners-nav {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.trip-planners-nav div {
  background: #ff7757;
  color: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 8rem;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: auto;
}
.trip-planners-destinations {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.trip-planners-destinations-rome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.trip-planners-destinations-rome-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.trip-planners-destinations-rome-details__tour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 288px;
  font-family: "Rubik", sans-serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-rome-details__tour h4 {
  font-size: 1.2rem;
}
.trip-planners-destinations-rome-details__tour span {
  font-size: 1rem;
}
.trip-planners-destinations-rome-details__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 288px;
  font-family: "Playfair Display", serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-rome-details__title h3 {
  font-size: 1.8rem;
}
.trip-planners-destinations-rome-details__punctuation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 288px;
  font-family: "Rubik", sans-serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-rome-details__punctuation div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.trip-planners-destinations-rome-details__punctuation span {
  font-size: 1rem;
}
.trip-planners-destinations-paris {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.trip-planners-destinations-paris-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.trip-planners-destinations-paris-details__tour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 288px;
  font-family: "Rubik", sans-serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-paris-details__tour h4 {
  font-size: 1.2rem;
}
.trip-planners-destinations-paris-details__tour span {
  font-size: 1rem;
}
.trip-planners-destinations-paris-details__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 288px;
  font-family: "Playfair Display", serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-paris-details__title h3 {
  font-size: 1.8rem;
}
.trip-planners-destinations-paris-details__punctuation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 288px;
  font-family: "Rubik", sans-serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-paris-details__punctuation div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.trip-planners-destinations-paris-details__punctuation span {
  font-size: 1rem;
}
.trip-planners-destinations-barcelona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.trip-planners-destinations-barcelona-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.trip-planners-destinations-barcelona-details__tour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 288px;
  font-family: "Rubik", sans-serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-barcelona-details__tour h4 {
  font-size: 1.2rem;
}
.trip-planners-destinations-barcelona-details__tour span {
  font-size: 1rem;
}
.trip-planners-destinations-barcelona-details__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 288px;
  font-family: "Playfair Display", serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-barcelona-details__title h3 {
  font-size: 1.8rem;
}
.trip-planners-destinations-barcelona-details__punctuation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 288px;
  font-family: "Rubik", sans-serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-barcelona-details__punctuation div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.trip-planners-destinations-barcelona-details__punctuation span {
  font-size: 1rem;
}
.trip-planners-destinations-budapest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.trip-planners-destinations-budapest-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.trip-planners-destinations-budapest-details__tour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 288px;
  font-family: "Rubik", sans-serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-budapest-details__tour h4 {
  font-size: 1.2rem;
}
.trip-planners-destinations-budapest-details__tour span {
  font-size: 1rem;
}
.trip-planners-destinations-budapest-details__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 288px;
  font-family: "Playfair Display", serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-budapest-details__title h3 {
  font-size: 1.8rem;
}
.trip-planners-destinations-budapest-details__punctuation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 288px;
  font-family: "Rubik", sans-serif;
  color: #172432;
  padding: 0rem 0.7rem;
}
.trip-planners-destinations-budapest-details__punctuation div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.trip-planners-destinations-budapest-details__punctuation span {
  font-size: 1rem;
}
.trip-planners-nav-menu {
  display: none;
}

@media screen and (min-width: 700px) {
  body {
    padding-left: 0rem;
  }
  .header-menu {
    justify-content: space-between;
    font-size: 20px;
  }
  .header-menu-burger-menu {
    display: none;
  }
  .header-menu-nav {
    display: flex;
  }
  .header-menu-nav-menu {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    align-items: center;
    justify-content: space-evenly;
    color: white;
  }
  .header-menu-nav-menu li:hover {
    border-bottom: 3px solid #ff7757;
  }
  .header-menu-login {
    display: flex;
    padding: 2rem 1rem;
  }
  .header-menu-login-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    color: white;
  }
  .header-menu-login-menu li:first-child:hover {
    border-bottom: 3px solid #ff7757;
  }
  .header-menu-login-menu li:last-child {
    background: #ff7757;
    color: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 8rem;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 10rem;
  }
  .header-lower {
    gap: 10rem;
    padding: 8rem 0rem 15rem 0rem;
  }
  .header-lower-title__h1 {
    font-size: 4rem;
  }
  .header-lower-title__p {
    font-size: 1.2rem;
  }
  .header-lower-form {
    flex-direction: row;
    align-items: center;
    border-radius: 0rem 1rem 1rem 0rem;
    gap: 3rem;
  }
  .header-lower-form__input {
    flex-direction: row;
    font-size: 1rem;
    padding: 0rem 0rem 0rem 1.5rem;
  }
  .header-lower-form__submit {
    padding: 4rem 0.8rem;
    border-radius: 0rem 1rem 1rem 0rem;
    width: 25%;
  }
  .header-lower-form__submit > input {
    white-space: normal;
    padding: 0rem 0.5rem 0rem 0rem;
  }
  .section2 .section2-allimages {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .section2 .section2-allimages__hidden {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 0px;
  }
  .section2 .section2-allimages__photo3 {
    padding-top: 40px;
  }
  .section2__paragraph {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
  }
  .section2__title {
    width: auto;
    height: 50px;
  }
  .section2__line {
    border: 2px solid #ff7757;
  }
  .section2__ul {
    display: none;
  }
  .section2__desktopbutton {
    display: flex;
    gap: 2rem;
  }
  .section2 .section2-p_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .special-offer {
    display: grid;
    grid-template-areas: "nav-menu title title" "destination destination destination";
    grid-template-columns: 1fr 1fr 1fr;
  }
  .special-offer-nav-menu {
    grid-area: nav-menu;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
  }
  .special-offer-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .special-offer-title h2 {
    font-size: 3.5rem;
  }
  .special-offer-title p {
    padding: 1rem 0rem 0rem 0rem;
    font-size: 1.4rem;
  }
  .special-offer-destination {
    grid-area: destination;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .special-offer-destination-lisbon h3 {
    font-size: 1.4rem;
    padding: 2rem 0rem 0.7rem 0rem;
  }
  .special-offer-destination-lisbon__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .special-offer-destination-lisbon__price div {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .special-offer-destination-athens {
    display: flex;
    flex-direction: column;
    background-color: #fff8f1;
  }
  .special-offer-destination-athens h3 {
    color: #767e86;
    font-family: "Mulish";
    font-size: 1.7rem;
    padding: 0.5rem 0rem;
  }
  .special-offer-destination-athens__star {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .special-offer-destination-athens__description {
    font-family: "Rubik", sans-serif;
    color: #172432;
    padding: 2rem 0rem;
  }
  .special-offer-destination-athens__price {
    display: flex;
    flex-direction: column;
  }
  .special-offer-destination-athens__price div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-family: "Rubik", sans-serif;
    padding: 0rem 0rem 1rem 0rem;
  }
  .special-offer-destination-athens__price div p {
    color: #767e86;
    font-size: 1rem;
  }
  .special-offer-destination-athens__price div div {
    color: #ff7757;
    font-size: 2rem;
    padding: 0rem 0rem 0rem 0.5rem;
  }
  .special-offer-destination-athens nav {
    background: #ff7757;
    color: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 8rem;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .special-offer-destination-athens h3 {
    font-size: 1.4rem;
    padding: 2rem 0rem 0.7rem 0rem;
  }
  .special-offer-destination-athens__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .special-offer-destination-athens__price div {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .special-offer-destination-rome {
    display: flex;
    flex-direction: column;
    background-color: #fff8f1;
  }
  .special-offer-destination-rome h3 {
    color: #767e86;
    font-family: "Mulish";
    font-size: 1.7rem;
    padding: 0.5rem 0rem;
  }
  .special-offer-destination-rome__star {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .special-offer-destination-rome__description {
    font-family: "Rubik", sans-serif;
    color: #172432;
    padding: 2rem 0rem;
  }
  .special-offer-destination-rome__price {
    display: flex;
    flex-direction: column;
  }
  .special-offer-destination-rome__price div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-family: "Rubik", sans-serif;
    padding: 0rem 0rem 1rem 0rem;
  }
  .special-offer-destination-rome__price div p {
    color: #767e86;
    font-size: 1rem;
  }
  .special-offer-destination-rome__price div div {
    color: #ff7757;
    font-size: 2rem;
    padding: 0rem 0rem 0rem 0.5rem;
  }
  .special-offer-destination-rome nav {
    background: #ff7757;
    color: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 8rem;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .special-offer-destination-rome h3 {
    font-size: 1.4rem;
    padding: 2rem 0rem 0.7rem 0rem;
  }
  .special-offer-destination-rome__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .special-offer-destination-rome__price div {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .section4 {
    display: grid;
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-areas: "image1 secondtitle" "image1 paragraph" "image1 nav1";
    height: 100%;
  }
  .section4-block1__image {
    grid-area: image1;
    padding: 1rem;
  }
  .section4-block1__secondTitle {
    grid-area: secondtitle;
    padding: 1rem;
  }
  .section4-block1__secondParagraph {
    grid-area: paragraph;
    padding: 1rem;
  }
  .section2-menu {
    grid-area: nav1;
    padding: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
